@{
    ViewData["Title"] = "Home Page";
}
@using Services.Enum
<button onclick="executeAction(@((int)eMediaAction.Play_Pause))">Play/Pause || </button>
<button onclick="executeAction(@((int)eMediaAction.NextSong))"> Siguiente cancion >></button>
<button onclick="executeAction(@((int)eMediaAction.PrevSong))"> << Cancion anterior</button>
<button onclick="executeAction(@((int)eMediaAction.UpVol))"> + Subir volumen</button>
<button onclick="executeAction(@((int)eMediaAction.DownVol))"> - Bajar volumen</button>


<script type="text/javascript">
           var _conexion = new signalR.HubConnectionBuilder().withUrl("controlHub").build();
            _conexion.start()
                .then(() => { console.log("Conexion exitosa"); })
        .catch(() => { console.log("conexion fallida"); });

            function executeAction(idAction)
            {
                console.log(idAction);
                _conexion.invoke("SendAction", idAction);
            }
</script>
